.env
/node_modules
/public/js

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

*.ng*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - VSCode
.vs/*
!.vs/settings.json
!.vs/tasks.json
!.vs/launch.json
!.vs/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
