/*
 * Custom media, based on screen sizes defined in bootstrap.css version 4
 * xs < 576px
 * sm >= 576px
 * md >= 768px
 * lg >= 992 px
 * xl >= 1200px
 */



 @media (min-width: 100px) {
  .lgCard {
    width: 80%;
    margin: 3%;
/*    max-height: 400px;*/
  }
  .symbol {
    width: 10%;
  }
  .card, .liveCard {
    font-size: calc(8px + 4vw);
  }
  .navbar-brand {
    display: none;
  }
  /* forces hamburger to stay to right while brand is hidden */
  nav .container {    
    direction: rtl;
  }
  .hideSmall, .hideXSmall, .hideMedium {
    display: none;
  }
}

/*sm screen*/
@media (min-width: 576px) {
  .lgCard {
    width: 75%;
    margin: 3%;
/*    max-width: 450px;*/
  }
  .symbol {
    width: 10%;
  }
  .hideXSmall {
    display: unset ;
  }
}

/*md screen*/
@media (min-width: 768px) {
  .lgCard {
    width: 30%;
    margin: 1%;
  }
  .smallCard {
    width: 24%;
    margin: 5% 1% auto 1%;
  }
  .card, .liveCard {
    font-size: 2vw;
  }
  .navbar-brand {
    display: unset;
  }
  nav .container {
    direction: ltr;
  }
  .hideSmall {
    display: unset ;
  }
}

/*lg screen*/
@media (min-width: 992px) {
  .hideMedium {
    display: unset ;
  }

}

/*xl screen*/
@media (min-width: 1200px) {

}

