<!-- Default to login. -->
<!-- DMZ TBD: add if condition if user is logging out instead of in 
(menu should toggle to 'LOG OUT' when user is signed in...-->
<!-- ask lisa for help -->
    
    <!-- <header class="row spacing">
        <nav class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active"><a [routerLink]="['signup']">Signup</a></li>
                <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['signin']">Signin</a></li>
                <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['logout']">Logout</a></li>
            </ul>
        </nav>
    </header> 

    -->

    <!-- LMC: this is needed for the routing --> 
    <div class="row spacing">
        <router-outlet></router-outlet>
    </div>
    