<!-- Modal: Log In -->
<div class="w3-modal">
	<div class="w3-modal-content form">
		<span class="w3-button w3-display-topright" (click)="onClose()">&times;</span>

		<!--    Log in-->
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<input 
					type="email" 
					id="email" 
					class="form-control"
					formControlName="email"
					placeholder="Email" />
			</div>
			<div class="form-group">
				<input 
					type="password" 
					id="password" 
					class="form-control"
					formControlName="password"
					placeholder="Password" />
			</div>
			<button 
				class="btn btn-primary" 
				type="submit"
				[disabled]="!myForm.valid" 
				>LOGIN</button>

		</form>

		<!-- DMZ TBD: figure out routing here & whether ng-href for <a> would be solution? -->
		<!-- LMC Took out href="" (not needed) -->
		<p id="gotoSignin" class="message">Not registered? 
			<a (click)="onSwitchToSignup()">Sign up now</a>
		</p>
	</div>
</div>
