<div class="deckSelect editCards container">
	<!-- TBD ask lisa if any sort needed here -->
	<!-- <div class="topOfDecks row"> -->
		<!-- <ss-multiselect-dropdown 
			[options]="sortOptions" 
			[texts]="sortTexts" 
			[settings]="dropSettings" 
			[(ngModel)]="optionChoice" -->
			<!-- (ngModelChange)="onSortBy($event)"> -->
		<!-- </ss-multiselect-dropdown> -->
	<!-- </div>  -->


<!-- <div class="row">
	<div class="col-xs-12"> -->
		<form *ngIf="readyForm" [formGroup]="deckForm" (ngSubmit)="onSubmit()">

			<!-- Buttons for saving or cancelling -->
			<!-- <div class="deckSelect container"> -->
				<div class="row">
					<div class="col-12 col-md-4">
						<button 
							type="submit" 
							class="btn btn-success"
							[disabled]="!deckForm.valid">Save deck changes</button>	
					</div>
					<div class="col-12 col-md-4">
						<button 
							type="button" 
							class="btn btn-danger"
							(click)="onCancel()">Cancel changes</button>	
					</div>
				</div>
			<!-- </div> -->

			<!-- Fields for Deck Name and Category -->
			<!-- TBD: ask lisa - 1) do we want to allow user to change their existing deck name/category
			or is this just for adding a new deck (which we now handle in modal)? 
			currently putting deck name/cat in footer -->
			<!-- <div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label for="name">Deck Name</label>
						<input 
							type="text"
							id="name"
							formControlName="name"
							class="form-control">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label for="category">Category</label>
						<input 
							type="text"
							id="category"
							class="form-control"
							formControlName="category">
					</div>
				</div>
			</div> -->

			<!-- List of cards for this deck -->
			<!-- <hr> -->
			<!-- <div class="row">
				<div class="col-xs-12">
					<button 
						type="button"
						class="btn btn-success" 
						(click)="onAddCard()">
						Add Card</button>		
				</div>
			</div>	 -->

			<div class="deckSelect container">    
				<div class = "deckList row" formArrayName="cards">
			
					<!-- TBD: ask lisa about 'add new card' - whether it can be on every card
						or if it's simpler to keep it front (as we do with add new deck).-->

					<div class="col-12 col-lg-4 col-md-6" *ngFor="let cardCtrl of getControls(); let i = index" [formGroupName]="i">        
						<div class="editAspect">
							<!-- <div class="card questionSide"> -->
							<div [ngClass]="{'card':true, 'questionSide':true, 'liveEdit': isLive(i)}">
								<div class="editText">
									<label for="cardQuestion_{{ i }}">QUESTION:</label>
									<textarea class="form-control" id="cardQuestion_{{ i }}" rows="4"	formControlName="side1"></textarea>
									<label for="cardAnswer_{{ i }}">ANSWER:</label>
									<textarea class="form-control" id="cardAnswer_{{ i }}" rows="3" formControlName="side2"></textarea>
								</div>
							</div>
							
							<div class="cardIcons">
								<a class="card-modify" (click)="onEdit(i)" title="Edit this card.">
									<i class="fa fa-pencil-square-o"></i>
								</a>
								<a class="card-remove" (click)="onDeleteCard(i)" title="Delete this card.">
									<i class="fa fa-trash-o"></i>
								</a>
								<a class="card-add" (click)="onAddCard(i)" title="Add a new card after this card.">
									<i class="fa fa-plus"></i>
								</a>
							</div>
						</div>
					</div>
							




				</div>
			</div>
			

			<!-- <div class="row">
				<div class="col-xs-12" formArrayName="cards">
					<div class="row" 
					*ngFor="let cardCtrl of getControls(); let i = index"
						[formGroupName]="i"
						style="margin-top:10px;">
						<div class="col-xs-5">
							<input 
								type="text" 
								class="form-control"
								formControlName="side1">
						</div>
						<div class="col-xs-5">
							<input 
								type="text" 
								class="form-control"
								formControlName="side2">
						</div>
						<div class="col-xs-2">
							<button 
								type="button"
								class="btn btn-danger"
								(click)="onDeleteCard(i)">X</button>
						</div>
					</div>
				</div>
			</div>  -->
			<!-- End of Card List -->

		</form>
</div>


<!-- footer?? -->
<footer class="footer navbar fixed-bottom">
	<div class="container">

		<div class="gameInfo hideSmall">
			<!-- <i  [ngClass]="{'fa fa-star': isFavorite}"></i> -->
			<p class="text-muted">&nbsp;{{ deck.name }} - {{ deck.category }}</p>
		</div>
		<!-- <div class="icons">
			<a (click)="onGoBack()"><i class="fa fa-arrow-circle-left"></i></a>
			<a (click)="onHelp()"><i class="fa fa-question-circle"></i></a>
		</div> -->
	</div>
</footer>



<!-- Modal for when the user wants to cancel after they have made changes -->

<div class="backdrop" [ngStyle]="{'display': display}"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button 
            type="button" 
            class="close" 
            aria-label="Close"
            (click)="onModalResponse(false)">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Cancel Edit</h4>
        </div>
        <div class="modal-body">
          <p>You have unsaved changes. Are you sure?</p>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" (click)="onModalResponse(true)">Yes</button>
          	<button type="button" class="btn btn-default" (click)="onModalResponse(false)">No</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
		