<div class="deckSelect container">
	<div class="topOfDecks row">
		<div class="col-12 col-sm-6">
			<div class="btn-group">
				<button class="centerIt btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a (click)="onSortBy('category')">Category</a></li>
					<li><a (click)="onSortBy('lastplayed')">Last Played</a></li>
					<li><a (click)="onSortBy('favorite')">Favorite</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="deckSelect container">    
	<div class = "deckList row">

		<!-- this creates the first 'Add new deck' card -->
		<app-make-detail></app-make-detail>
		
		<!-- this loops through existing decks -->
		<app-make-detail
		[deck]="deck"
			*ngFor="let deck of decks"></app-make-detail>	
	</div>
</div>


<!-- <div class="row">
	<div class="col-xs-6">
		<button class="btn btn-primary" 
				(click)="onAddDeck()">Add a deck</button>
	</div>

	<div class="col-xs-6">
		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li><a (click)="onSortBy('category')">Category</a></li>
		      <li><a (click)="onSortBy('lastplayed')">Last Played</a></li>
		      <li><a (click)="onSortBy('favorite')">Favorite</a></li>
		    </ul>
		  </div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 deck-list"> 
	    <app-make-detail
	       [deck]="deck"
	        *ngFor="let deck of decks"></app-make-detail>
	</div>
</div> -->