  <div class="container">
    <div class = "row">
      <div class="col-12 col-lg-3 col-md-4 col-sm-6">        
        <div class="aspect">
          <div class="spreadCards questionSide">
            <div class="cardText">
              <p>Q: Which character in The Office went to Shorecrest High School in real life?</p>
              <br>
              <p>A: Dwight Shrute?</p>
              
            </div>
          </div>
          
<!--          TBD change class names from 'deck' to 'card-' & add to css-->
          <div class="deck-icons">
            <a class="deck-modify" href="#" title="Edit this card."><i class="fa fa-pencil-square-o"></i></a>
            <a class="deck-remove" href="#" title="Delete this card."><i class="fa fa-trash-o"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
