<div class="col-12 col-lg-4 col-md-6 col-sm-12">        
  <div class="editAspect">
    <div class="card questionSide">
      <div class="editText">
        <label for="cardQuestion">QUESTION:</label>
        <textarea class="form-control" id="cardQuestion" rows="4">{{ card.side1 }}</textarea>
        <label for="cardAnswer">ANSWER:</label>
        <textarea class="form-control" id="cardAnswer" rows="3">{{ card.side2 }}</textarea>
      </div>
    </div>
    
    <div class="cardIcons">
      <a class="card-modify" (click)="onEdit()" title="Edit this card.">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="card-remove" (click)="onDelete()" title="Delete this card.">
        <i class="fa fa-trash-o"></i>
      </a>
      <a class="card-add" (click)="onAdd()" title="Add a new card after this card.">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
</div>
