.img-circle {
    /* DMZ changed from padding-top to padding cuz padding-top distorted circle */
     /* TBD ask Lisa about adding a component for gravitar so we aren't duplicating it in pfc and mfc */
    padding: 10px;
    border-radius: 50%;
    width: calc(40px + 10vw);
    max-width: 100px;
    height: auto;
}

.fc-header {
    padding: 15px;
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;  
    /* float: right; */
    position: fixed;
    top: 3vw;
    right: 0;
}