.backdrop {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.modal {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  z-index: 99 !important;
}

:host {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}
h4 {
	color: black;
}

form {
  padding-left:20px;
}
