.playing-field {
	padding-top:15px;
	position: relative;

}

.title-row {
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
}

.button-row {
	padding-top:10px;
	padding-bottom:10px;
}

.left-caret {
	padding-top:75px;
}

.right-caret {
	padding-top:75px;
}

.flash-card {
	height:350px;
	width: 200px;
	border-top: 4px solid #000066;
	border-left: 4px solid #000066;
	border-right: 4px solid #000066;
	border-bottom: 20px solid #000066;
	border-radius: 5px;
	background:white;
}

.flashcard-text {
	padding-top: 10px;
	font-size: 24px;
	text-align: center;
}

.thumbs-area {
	padding-top: 10px;
    margin: 0 auto;
}