<div class="playing-field">

	<!-- Title row with buttons underneath --> 
	<div class="row">
		<div class="col-xs-12">
			<h4 style="text-align:center">
			{{ deck.category }} - {{ deck.name }}
			</h4>
		</div>		
		<div class="col-xs-12 button-row">
			<a [routerLink]="['']"><button class="btn btn-danger">Exit</button></a>
			<button class="btn btn-success" (click)="onAdd()">Add a card</button>
			<a [ngStyle]="{'color': favorite}" (click)="onFavorite()">I Like It!</a>
		</div>
	</div>

	<!-- The row with the cards --> 

	<div class="row">
		<div class="col-xs-2 flash-card" id="left-card">
			<div *ngIf="previousCard" class="flashcard-text">{{ previousCard.side1 }}</div>
		</div>
		<div class="col-xs-2">
			<button type="button" 
				(click)="onSlideLeft()" 
				class="btn btn-default btn-sm">
	          	<span class="glyphicon glyphicon-chevron-left"></span> Left
	        </button>
		</div>
		<div class="col-xs-3 flash-card" id="middle-card">
			<a *ngIf="faceUp && currentCard" class="flashcard-text" (click)="showAnswer()">{{ currentCard.side1 }}</a>
			<a *ngIf="!faceUp && currentCard" class="flashcard-text" (click)="faceup=true">{{ currentCard.side2 }}</a>
		</div>
		<div class="col-xs-2">
			<button type="button" 
				(click)="onSlideRight()" 
				class="btn btn-default btn-sm">
	          	<span class="glyphicon glyphicon-chevron-right"></span> Right
        	</button>
		</div>
		<div class="col-xs-3 flash-card" id="right-card">
			<div *ngIf="nextCard" class="flashcard-text">{{ nextCard.side1 }}</div>
		</div>
	</div>

	<!-- Display the thumbs up or down --> 
	<div class="row thumbs-area" [ngStyle]="{'display': displayThumbs}">
		<button class="btn btn-primary" (click)="onThumbsUpOrDown(true)">
		Thumbs Up</button>
		<button class="btn btn-primary" (click)="onThumbsUpOrDown(false)">
		Thumbs Dn</button>
	</div>
</div>
