 <div class="row">
	 <div class="col-xs-12">
		<h1 style="text-align:center">
	  	These are the cards for {{ deck.name }} in Category {{ deck.category }}
	  	Progress Bar {{ deck.progressBar }}
	  	</h1>
	 </div>		
		<a [routerLink]="['']">Exit</a>
		<a (click)="onAdd()">Add a card</a>
		<a [ngStyle]="{'color': favorite}" (click)="onFavorite()">Favorite</a>

</div>
<!--
<div class="col-xs-12">
    <app-card-detail
        [card]="card"
        *ngFor="let card of cards"></app-card-detail>
</div>
-->
<!-- Display the first card in the middle -->

<div class="row">
 
	<div class="col-xs-2" id="left-card">
		<a *ngIf="previousCard">{{ previousCard.side1 }}</a>
	</div>
	<div class="col-xs-2">
	<button class="btn btn-primary" (click)="onSlideLeft()">left</button>
	</div>
	<div class="col-xs-3" id="middle-card">
		<a *ngIf="faceUp && currentCard" (click)="showAnswer()">{{ currentCard.side1 }}</a>
		<a *ngIf="!faceUp && currentCard" (click)="faceup=true">{{ currentCard.side2 }}</a>

	</div>
	<div class="col-xs-2">
		<button class="btn btn-primary" (click)="onSlideRight()">Right</button>
	</div>
	<div class="col-xs-3" id="right-card">
		<a *ngIf="nextCard">{{ nextCard.side1 }}</a>
	</div>
</div>

<div class="row" [ngStyle]="{'display': displayThumbs}">
	<div class="col-xs-8 offset-xs-2">
	<button class="btn btn-primary" (click)="onThumbsUpOrDown(true)">
	Thumbs Up</button>
	<button class="btn btn-primary" (click)="onThumbsUpOrDown(false)">
	Thumbs Down</button>
</div>
