<div class="col-12 col-lg-3 col-md-4 col-sm-6">        
  <div class="aspect">
    <div class="deck questionSide">
      <div class="deckTitle">
        <i  [ngClass]="{'fav':true, 'fa fa-star': isFavorite}"></i>
        <br>
        <p> {{ deck.category }} - {{ deck.name }} </p>


        <div class="deckNotes" *ngIf="deck.lastPlayed">
		        Last Played: {{ deck.lastPlayed | date: 'shortDate'}} 
	 		  </div>
        <br>

        <!-- TBD: adapt to star and test when obj has sample data -->
        <img src="{{displayHeart}}" /> 
      </div>

      <div class="getStarted row">
        <a class="play-deck" title="Play flashcards!" (click)="onPlay()"><i class="fa fa-arrow-right fa-3x"></i></a>
      </div>

      <!-- TBD implement dynamic progressBar when obj has sample data -->
      <img src="{{displayBar}}" />
      <div class="progress progressOnCard" title="Progress...">
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': '' + progressPct + '%'}"></div>
      </div>
    </div>
  </div>
</div>


