.img-circle {
    padding-top: 15px;
    border-radius: 50%;
}

.fc-header {
    padding: 15px;
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;  
    float: right;
}
