.img-circle {
    /* DMZ changed from padding-top to padding cuz padding-top distorted circle */
    padding: 10px;
    border-radius: 50%;
    width: calc(40px + 10vw);
    max-width: 125px;
    height: auto;
}

.fc-header {
    padding: 15px;
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;  
    float: right;
}
